@mixin aspect-ratio($width, $height) {
  position: relative;

  &::before {
    content: '';
    display: block;
    padding-top: ($height / $width) * 100%;
    width: 100%;
  }

  > .content {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
}

@mixin aspect-none() {
  &::before {
    display: none;
  }
}

@mixin aspect-3-1() {
  @include aspect-ratio(3, 1);
}

@mixin aspect-2-1() {
  @include aspect-ratio(2, 1);
}

@mixin aspect-16-9() {
  @include aspect-ratio(16, 9);
}

@mixin aspect-5-3() {
  @include aspect-ratio(5, 3);
}

@mixin aspect-4-3() {
  @include aspect-ratio(4, 3);
}

@mixin pin-center() {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@mixin full-width() {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

@mixin wide-width() {
  width: calc(100vw - 4rem);
  max-width: 1400px;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: calc((-100vw + 4rem) / 2);
  margin-right: calc((-100vw + 4rem) / 2);
}

@mixin wide-width-max() {
  margin-left: -700px;
  margin-right: -700px;
}