.cpc-button {
  @apply bg-black text-white font-sans uppercase px-4 py-2 inline-block text-sm font-bold border border-black text-center;

  &:hover {
    @apply bg-primary-dark border-primary-dark cursor-pointer;
  }

  &.cpc-button--sm {
    @apply text-sm py-1 px-2;
  }

  &--primary {
    @apply bg-primary border-primary;
  }

  &--primary:hover {
    @apply bg-primary-dark border-primary-dark;
  }

  &--secondary-light {
    @apply bg-white border-white text-black;
  }

  &--secondary-light:hover {
    @apply bg-transparent border-white text-white;
  }

  &--outline {
    @apply bg-transparent text-black border-primary;
  }

  &--outline:hover {
    @apply bg-primary border-primary text-white;
  }

  &--outline-dark {
    @apply bg-transparent text-white border-black;
  }

  &--outline-dark:hover {
    @apply bg-black border-black text-white;
  }

  &--outline-light {
    @apply bg-transparent text-white border-primary;
  }

  &--outline-light:hover {
    @apply bg-primary border-primary text-white;
  }

  &--outline-white {
    @apply bg-transparent text-white border-white;
  }

  &--outline-white:hover {
    @apply bg-white text-black border-white;
  }
}

@include media('>=#{$md}') {
  .cpc-button {
    @apply px-6 py-3 text-base;
  }
}