form.cpc-form {
  &.gform_confirmation_wrapper {
    @apply text-center text-white;
  }

  & .gform_ajax_spinner {
    display: none;
  }

  & div.gform_body {
    & li.cpc-form__input {
      @apply m-0 p-0 mb-3;
      width: 100%;

      & > label {
        @apply text-white font-bold;

        &.label-hide {
          display: none;
        }
      }

      &
        .ginput_container
        input:not([type='radio']):not([type='checkbox']):not([type='submit']):not([type='button']):not([type='image']):not([type='file']) {
        @apply border border-white p-4 text-white leading-none w-full bg-transparent opacity-50;
        border-radius: 0px !important;

        &:focus,
        &:active {
          @apply opacity-100;
          outline: none;
        }
      }

      & .ginput_container textarea {
        @apply border border-white p-4 bg-transparent opacity-50 text-white w-full text-base;
        height: 120px;
        border-radius: 0px !important;

        &:focus,
        &:active {
          @apply opacity-100;
          outline: none;
        }
      }
    }
  }

  & div.gform_footer {
    margin-top: 0;

    & input[type='submit'] {
      @apply bg-primary text-white font-sans uppercase px-6 py-3 inline-block font-bold border   border-primary text-center w-full;

      &:hover {
        @apply bg-primary-dark border-primary-dark;
      }

      &:disabled {
        opacity: 0.5;
        pointer-events: none;
        cursor: none;
      }
    }
  }
}

.bg-white,
.bg-grey,
.bg-grey-md {
  .cpc-form {
    &.gform_confirmation_wrapper {
      @apply text-black;
    }

    & .gform_body {
      & .cpc-form__input {  
        & > label {
          @apply text-black;
        }
  
        &
          .ginput_container
          input:not([type='radio']):not([type='checkbox']):not([type='submit']):not([type='button']):not([type='image']):not([type='file']) {
          @apply border border-black text-black;
        }
  
        & .ginput_container textarea {
          @apply border-black text-black;
        }
      }
    }

    div.gform_footer {
    }
  }
}

.form--dark-button,
.bg-primary {
  .cpc-form div.gform_footer {

    & input[type='submit'] {
      @apply bg-black border-black;

      &:hover {
        @apply bg-primary-dark border-primary-dark;
      }

      &:disabled {
        opacity: 0.5;
        pointer-events: none;
        cursor: none;
      }
    }
  }
}

#gform_confirmation_wrapper_1 {
  display: flex;
  align-items: center;
  justify-content: center;

  & > div {
    font-size: 4.5rem;
    line-height: 1.5;
    margin: 0;
  }
}

.gform_anchor {
  display: none !important;
}
