.cpc-popup {
  @apply fixed inset-0;
  z-index: 99999;

  &[data-popup-hidden='true'] {
    opacity: 0;
    z-index: -1;
  }

  &[data-popup-hidden='false'] {
    opacity: 1;
    z-index: 9999999;
  }
}

.cpc-popup__underlay {
  @apply absolute inset-0 bg-black opacity-75;
}

.cpc-popup__content {
  @apply absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  & .cpc-form_wrapper {
    width: 70vw;
    max-width: 460px;
  }
}
