.cpc-select {
  @apply relative font-sans;

  select {
    @apply relative border border-primary appearance-none leading-none p-3 pr-6 h-full w-full;
  }

  &::after {
    @apply absolute block;
    border-bottom: 5px solid transparent;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid $black;
    content: '';
    right: 18px;
    top: calc(50% + 4px);
    transform: translateY(-50%);
  }
}
