{
  "extends": "stylelint-config-sass-guidelines",
  "rules": {
    "scss/at-rule-no-unknown": [ true, { 
      "ignoreAtRules": ["tailwind", "apply", "responsive"] 
    }],
    "selector-no-qualifying-type": [ true, {
      "ignore": ["class"]
    }],
    "selector-class-pattern": null,
    "function-parentheses-space-inside": null
  }
}