.button {
  @apply block no-underline font-bold px-8 relative text-center bg-black text-white font-display uppercase rounded text-sm border border-black;
  padding-top: 4rem;
  padding-bottom: 3.5rem;

  &:hover {
    background-color: lighten($black, 5%);
  }

  &--green {
    @apply bg-green border-green;

    &:hover {
      background-color: darken($green, 5%);
    }
  }

  &--red {
    @apply bg-red border-red;

    &:hover {
      background-color: darken($red, 5%);
    }
  }
}

.button-light {
  @apply block no-underline font-bold px-8 relative text-center bg-white text-black font-display uppercase rounded text-sm border border-white;
  padding-top: 4rem;
  padding-bottom: 3.5rem;

  &:hover {
    @apply bg-transparent text-white;
  }

  &--green {
    @apply text-green;
  }

  &--yellow {
    @apply text-yellow;
  }

  &--red {
    @apply text-red;
  }
}

.button-outline {
  @apply block no-underline font-bold px-8 relative text-center bg-transparent text-black font-display uppercase rounded text-sm border border-black;
  padding-top: 4rem;
  padding-bottom: 3.5rem;

  &:hover {
    @apply bg-black text-white;
  }

  &--green {
    @apply border-green;

    &:hover {
      @apply bg-green;
    }
  }

  &--yellow {
    @apply border-yellow;

    &:hover {
      @apply bg-yellow;
    }
  }

  &--red {
    @apply border-red;

    &:hover {
      @apply bg-red;
    }
  }

  &--white {
    @apply border-white text-white;

    &:hover {
      @apply bg-white text-black;
    }
  }

  &--white-community {
    @apply border-white text-white;

    &:hover {
      @apply bg-white text-green;
    }
  }

  &--white-education {
    @apply border-white text-white;

    &:hover {
      @apply bg-white text-yellow;
    }
  }

  &--white-family {
    @apply border-white text-white;

    &:hover {
      @apply bg-white text-red;
    }
  }
}
