.social-share.zoom-social-icons-widget .zoom-social_icons-list-span {
  color: $primary !important;

  &:hover {
    color: $primary-dark !important;
  }
}

.social-link.zoom-social-icons-widget .zoom-social_icons-list-span {
  color: $white !important;

  &:hover {
    color: $white !important;
  }
}